body {
    flex-wrap: wrap;
}

header {

    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #129ada;
    color: #9b1313;
    display: flex;
    min-width: 100%;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    font-family: 'fantasy', 'cursive', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}

header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#background {
    height: 510px;
    width: 100%;
    background-image: url('./images/DSC00898.JPG');
    background-repeat: none;
    background-size: cover;
    background-position: center;

}

.text-box {
    font-size: 60px;
    position: absolute;
    top: 570px;
    right: 5px;

    background-color: #c01c9c
}

.flex-row {
    width: 80%;
    display: flex;
    height: auto;
    margin-left: 5%;
    max-width: 100%;
    margin-top: 15px;
}

h2 {
    font-size: 25px;
    color: rgb(241, 29, 1);
    min-width: 20%;
    border-right: 5px solid darkblue;
    margin-right: 10px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.flex-width {
    font-size: larger;
    overflow-wrap: break-word;
    width: 80%;

}

.wrapper {

    min-width: 80%;
}

.container .projects {
    min-width: 100%;
}

.wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75%;

}

.wrapper-2 .projects {
    margin-right: -200px;
}

.projects {
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    margin: 10px;
    box-shadow: 0 2px 20px 2px rgba(14, 13, 13, 0.3);
    display: flex;
}

.projects::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.projects:hover::after {
    position: absolute;
    content: '';
    transform: translateY(0);
    background: linear-gradient(35 deg, rgba(0, 0, 46, 0.8) 10% rgba(0, 0, 46, 0));
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;

}

.projects img {
    object-fit: cover;
    min-width: 100%;
    height: auto;
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
}

.projects:hover img {
    transform: scale(1.3) translate(10%, 10%);
}

.projects .info {
    position: absolute;
    z-index: 3;
    opacity: 0;
    overflow: hidden;
    transform: rotateX(-105%);
    transition: all 0.4s ease;
    left: 5%;
    right: 5%;
    bottom: 5%;
    padding: 10px 12px;
    background-color: aqua;
    color: rgb(12, 0, 2);
    border-radius: 10%;
}

.projects:hover .info {
    opacity: 1;
    transform: translateX(0);
}

.projects .info h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
}

.projects .info h3,
.projects .info p {
    transition: all 2s ease;
    transform: rotateX('-100%');
    overflow: hidden;
}

.projects:hover .info h3,
.projects:hover .info p {
    transform: translateX(0);
}

.projects .info p {
    font-size: 20px;
    line-height: 25px;
}

marquee img {
    max-height: 300px;
    min-height: 300px;
}

footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #9b1313;
    color: #129ada;
    display: flex;
    min-width: 100%;
    align-items: center;
}

.contact-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: x-large;
}

@media only screen and (max-width: 875px) {
    header {
        flex-direction: column;
    }

    .text-box {
        font-size: 40px;
    }

    h2 {
        border-right: none;
        border-bottom: 5px solid darkblue;
        min-width: 100%;
    }

    .flex-row {
        flex-direction: column;
    }

    .container {
        min-width: 100%;
    }

    .wrapper-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: revert;
        min-width: 100%;
    }

    .wrapper-2 .projects {
        margin-right: unset;
        max-width: 45%;
        max-height: fit-content;
    }

    footer {
        flex-direction: column
    }

}

@media only screen and (max-width: 375px) {
    .text-box {
        font-size: 30px;
    }

    ul {
        flex-direction: column;
        align-items: end;
    }

    h1 {
        align-items: center;
    }

    .wrapper-2 {
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-2 .projects {
        min-width: fit-content;
    }

}